<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Dashboard Vœux</title>
    <style>
        form {
            max-width: 400px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-family: system-ui;
        }

        input,
        button,
        select {
            padding: .7rem;
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 1rem;
        }

        button {
            background: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background: #0069d9;
        }
    </style>
</head>

<body>
    <form action="/api/voeux" id="voeuxForm" enctype="multipart/form-data" method="POST">
        <label>Nom</label>
        <input type="text" id="nom" name="nom" placeholder="nom" required />
        <label>Texte</label>
        <input id="texte" name="texte" placeholder="texte"required />
        <label>Image</label>
        <input type="file" id="image" name="image" accept="image/*" />
        <button type="submit">Ajouter</button>
    </form>
</body>

</html>
